#!/bin/sh

# Reset all rules
ipfw -f flush

# NAT for simple traffic (except for Squid)
ipfw add 100 nat 1 from 192.168.1.0/24 to any not 3128 via em0

# Allow access to Squid (port 3128)
ipfw add 200 allow tcp from 192.168.1.0/24 to any 3128 in via em1

# Allow outgoing traffic Squid (HTTP/HTTPS)
ipfw add 300 allow tcp from me to any 80,443 out via em0

# Allow loopback in inner traffic
ipfw add 400 allow all from any to any via lo0
ipfw add 500 allow all from 192.168.1.0/24 to any via em1

# Allow ICMP (ping)
ipfw add 600 allow icmp from any to any

# Blocking traffic logging (for debug)
ipfw add 65534 deny log all from any to any
